@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Lexend;
  color: #111;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input,textarea, select {
  font-size: 14px !important;
}

:root {
  --primary: #6D27F9;
}

i.fa-solid {
  vertical-align: middle;
}

.iconGroup {
  position: relative;
}
.iconGroup .iconGroup__icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: var(--primary);
}
.iconGroup input {
  padding-left: 40px;
}
.candidate_profile .iconGroup.social .iconGroup__icon {
  font-size: 24px;
  color: #111;
}
.candidate_profile .iconGroup.social input {
  padding-left: 60px;
  border-color: var(--primary);
}


.slick-dots li button:before {
  font-size: 18px !important;
}
.slick-dots li button::before {
  color: rgb(211, 211, 211) !important;
  opacity: 1 !important;
}
.slick-dots li.slick-active button::before, .slick-dots li:hover button::before {
  color: var(--primary) !important;
}
.slick-dots li:focus button::before {
  color: inherit !important;
}
.sliderArrows button.slick-arrow {
  top: inherit;
  bottom: -40px;
}
.sliderArrows button.slick-arrow::before {
  color: black;
}
.sliderArrows {
  margin-bottom: 40px;
}
.sliderArrows button.slick-prev {
  left: inherit;
  right: 30px;
}
.sliderArrows button.slick-next {
  right: 0;
}
ul.react-tabs__tab-list {
  border: 0;
  margin: 0;
}
ul.react-tabs__tab-list li {
  border: 0;
  border-bottom: 3px solid transparent;
  transition: all 0.1s;
  line-height: 1;
  padding-left: 0;
  padding-right: 0;
  margin-right: 5%;
}
ul.react-tabs__tab-list li.react-tabs__tab--selected {
  border-bottom-color: var(--primary);
  color: var(--primary);
  font-weight: 700;
  backgroundColor: transparent;
}
ul.react-tabs__tab-list li.react-tabs__tab--selected:focus::after {
  display: none;
}
.userBgImage {
  background-image: url('../public/images/can-profile-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.companyMainImage {
  background-image: url('../public/images/company-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.homebanner_slide {
  background-image: url('../public/images/homebanner-shape.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.launchSoon {
  background-image: url('../public/images/launch-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.masonary_grid, .masonary_grid > div {
  gap: 10px !important
}
.responsive-table {
  overflow: auto;
}
.responsive-table tbody {
  display: block;
  max-height: 200px;
  overflow: auto;
}
.responsive-table thead, .responsive-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.orgDashTabs ul.react-tabs__tab-list {
  border: 0;
  margin-bottom: 0px;
}
.orgDashCards li, .orgDashCards li i {
  transition: all 0.3s ease;
}
.orgDashCards li:hover i {
  transform: rotate(360deg);
}
.orgDashCards li:hover {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
}
.parent:hover .child {
  display: block;
}
.candidate_profile .candidate_profile__tabs {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 6px 20px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto 30px;
  overflow-x: auto;
  backgroundColor: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.candidate_profile ul.react-tabs__tab-list {
  margin: 0;
}
.jobDetailDesc article ul li {
  position: relative;
  padding-left: 20px;
}
.jobDetailDesc article ul li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 20px;
  backgroundColor: rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  top: 8px;
}
.radiusCurve {
  border-bottom: 15px solid #60C3E2;
  border-bottom-right-radius: 50%
}
.radiusCurve.radiusCurve__small {
  border-bottom-right-radius: 20%
}

@media (max-width: 1199px) {
  .radiusCurve {
    border-bottom-right-radius: 30%
  }
}
@media (max-width: 991px) {
  .radiusCurve {
    border-bottom-right-radius: 20%
  }
}
@media (max-width: 767px) {
  .radiusCurve {
    border-bottom-right-radius: 10%;
    border-bottom-width: 10px;
  }
  .radiusCurve.radiusCurve__small {
    border-bottom-right-radius: 10%
  }
}