@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Lexend;
  color: #333;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@media (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}

:root {
  --primary: #6D27F9;
}

i.fa-solid {
  vertical-align: middle;
}

.iconGroup {
  position: relative;
}
.iconGroup .iconGroup__icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--primary);
}
.iconGroup input {
  padding-left: 40px;
}

.slick-dots li button:before {
  font-size: 18px !important;
}
.slick-dots li button::before {
  color: rgb(211, 211, 211) !important;
  opacity: 1 !important;
}
.slick-dots li.slick-active button::before, .slick-dots li:hover button::before {
  color: var(--primary) !important;
}
.slick-dots li:focus button::before {
  color: inherit !important;
}